<h1>ANgular</h1>
<p>{{message}}</p>
<app-navbar></app-navbar>

<app-post [fromParent]="parentTitle" (messageEvent)="reciveMessage($event)"></app-post>

<p>{{fromChildOutput}}</p>

<!-- string Interpolation -->
<p>{{message}}</p>

<!-- property binding -->
<!-- <img src="{{imgUrl}}" alt=""> -->
<img [src]="imgUrl" alt="">

<!-- class binding -->
<p [class.text-red]="bool">class binding</p>

<!-- style binding -->
<h1 [style.color]="bool ? 'red' : 'blue'">style binding</h1>

<!-- event binding -->
<button (click)="buttonClick()">Event binding</button>
<br>
<!-- event filtering -->
<!-- <input type="text" (keyup)="onKeyUp($event)"> -->
<input type="text" (keyup.enter)="onKeyUp()">
<br>
<!-- template reference variable -->
<input type="text" (keyup)="onKeyPress(myInput.value)" #myInput>
<br>
<!-- two way binding -->
<input type="text" [(ngModel)]="userName" (keyup.enter)="onKeyEnter()">

<div class="form-area">
    <h1>Post Form</h1>
    <br>
    <input type="text" placeholder="Post Title" [(ngModel)]="postTitle"
        [style.background]="isBackground ? 'red' : 'blue'" [style.color]="">
    <br>
    <textarea cols="30" rows="10" placeholder="Post Content" [(ngModel)]="postContent"></textarea>
    <br>
    <input type="text" placeholder="Post Image" [(ngModel)]="imgPostUrl">
    <br>
    <input type="text" placeholder="Post Url" [(ngModel)]="postUrl">
    <br>
    <input type="checkbox" [(ngModel)]="isBackground"> add backgroud


    <div>{{postTitle}}</div>
    <div>{{postContent}}</div>
    <img [src]="imgPostUrl" alt="">
    <a [href]="postUrl" [style.display]="postUrl ? 'block' : 'none'">More</a>
</div>


<!-- directive -->
<ul>
    <li *ngFor="let post of postArray"> {{post}}</li>
</ul>

<button (click)="addNew()">Add new Datta</button>

<!-- 
<div *ngIf="objArray.length > 0">
    <ul>
        <li *ngFor="let post of objArray; let i = index">
            {{i}} {{post.id}} - {{post.name}}
            <button (click)="delete(i)">Delete</button>
        </li>
    </ul>
</div>

<div *ngIf="objArray.length == 0">
    <p>
        No Data
    </p>
</div> -->

<!-- ngtemplate -->
<div *ngIf="objArray.length > 0; else noData">
    <ul>
        <li *ngFor="let post of objArray; let i = index">
            {{i}} {{post.id}} - {{post.name}}
            <button (click)="delete(i)">Delete</button>
        </li>
    </ul>
</div>

<!-- Sử dụng ng-template cho trường hợp không có dữ liệu -->
<ng-template #noData>
    <p>No Data</p>
</ng-template>


<!-- NgSwitchCase  -->
<div>
    <button (click)="onClick('Step 1')">Step 1</button>
    <button (click)="onClick('Step 2')">Step 2</button>
    <button (click)="onClick('Step 3')">Step 3</button>
</div>

<div [ngSwitch]="stepForm">
    <p *ngSwitchCase="'Step 1'">Step 1</p>
    <p *ngSwitchCase="'Step 2'">Step 2</p>
    <p *ngSwitchCase="'Step 3'">Step 3</p>
    <p *ngSwitchDefault>Default</p>
</div>

<!-- NgStyle -->

<h1 [ngStyle]="{'color': isActive   ? 'blue' : 'red'}">NgStyle Directive</h1>


<!-- NgClass -->
<h1 [ngClass]="{'main': isActive, 'text-red': isActive} ">NgClass Directive</h1>


<!-- pipe -->
<h1>{{topic | uppercase}}</h1>

<h1>{{count | number}}</h1>

<h1>{{decimalCount | number:'1.1-2'}}</h1>

<h1>{{currency | currency:'USD'}}</h1>

<h1>{{today | date: 'shortDate'}}</h1>

<h1>{{postObj | json}}</h1>

<h1>{{0.25 | percent}}</h1>

<h3>{{writeArray | slice:1:5}}</h3>

<!-- custom pipe -->
<h3>{{userDetails.name | appendCLI}}</h3>

<p>{{dummyText | summary : 20}}</p>


<app-post-list></app-post-list>



<div class="container mt-5">
    <div class="form-area">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="form-group">
                <label for="">FullName</label>
                <input type="text" placeholder="Full name" class="form-control" name="fullName" ngModel
                    #fullName="ngModel" (change)="getValue(fullName)" required
                    [ngClass]="{'is-invalid': fullName.touched && fullName.invalid}" minlength="5" maxlength="10">
                <div *ngIf="fullName.errors?.['required']">
                    <div class="alert alert-danger" *ngIf="fullName.touched && fullName.invalid">Full name is required
                    </div>
                </div>
                <div *ngIf="fullName.errors?.['minlength']">
                    <div class="alert alert-danger" *ngIf="fullName.touched && fullName.invalid">Full name must be at
                        least 5 characters
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="">Email</label>
                <input type="email" placeholder="Email" class="form-control" name="email" ngModel #email="ngModel"
                    pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required
                    [ngClass]="{'is-invalid': email.touched &&   email.invalid}">
                <div *ngIf="email.errors?.['required']">
                    <div class="alert alert-danger" *ngIf="email.touched && email.invalid">Email is required
                    </div>
                </div>
                <div *ngIf="email.errors?.['pattern']">
                    <div class="alert alert-danger" *ngIf="email.touched && email.invalid">email must be at
                        valid
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="">Address</label>
                <textarea cols="30" rows="10" placeholder="Message" class="form-control" name="address" ngModel
                    #address="ngModel" required
                    [ngClass]="{'is-invalid': address.touched && address.invalid}"></textarea>
                <div *ngIf="address.errors?.['required']">
                    <div class="alert alert-danger" *ngIf="address.touched && address.invalid">Address is required
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Submit</button>
        </form>
    </div>
</div>